<div class="content">
    <h2>Confirm Password</h2>
    <% if (error) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>
    <form action="/confirm-password" method="POST">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="hidden" name="returnTo" value="<%= returnTo %>">
        <button type="submit">Do it!</button>
    </form>
</div>